<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pure Ruby Website</title>
    <link rel="stylesheet" href="../public/stylesheets/main.css">
</head>
<body>
    <h1 title="Page Title">Welcome to my <span style="color: #a40000;">RUBY</span> website!</h1>
    <br>
    <a href="https://google.com" title="Google Search Engine" target="_blank">Open Google</a>
    <br>
    <a href="../views/about.html" title="Go to About page">About page</a>
    <br>
    <a href="../views/">contact</a>
    <script src="../public/scripts/main.js"></script>
</body>
</html>